@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

$green:#219150;
$black:#10221b;
$white:#fff;
$lightbg:#eee;
$border:.2rem solid $black;
$boxshadow : 0 .5rem 1rem rgb(0,0,0,.1);
.heading{
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: $black;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    border: 0.2rem solid $black;
    color: $black;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax($val,1fr));
  gap:1.5rem;
  
}

html{
  font-size:62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  &::-webkit-scrollbar{
    width: 1rem;

  }
  &::-webkit-scrollbar-thumb{
    background-color: $white;
    
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .logo {
      margin-right: auto;
      font-size: 2.5rem;
      color: $black;
      font-weight: bolder;
      i {
        color: $green;
      }
    }
    .navbar{ a {
      margin-left: 2rem;
      font-size: 1.7rem;
      color: $black;
      &:hover{
        color: $green;
      }
    }
    #nav-close {
      font-size: 5rem;
      cursor: pointer;
      color: $black;
      display: none;
    }
  }
  .icons {
    div , a{
      font-size: 2.5rem;
      margin-left: 2rem;
      cursor: pointer;
      color: $black;
      &:hover{
        color:$green;
      }
    }
  }

  #menu-btn{
    display: none;
  }

}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  .active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: $white;
    font-size: 6rem;
    &:hover{
      color:$green
    }
  }
  form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    input {
      width: 100%;
      font-size: 2rem;
      color: $white;
      text-transform: none;
      background: none;
      padding-right: 2rem;
      &::-webkit-input-placeholder {
        color: #aaa;
      }
      &:-ms-input-placeholder {
        color: #aaa;
      }
      &::-ms-input-placeholder {
        color: #aaa;
      }
      &::placeholder {
        color: #aaa;
      }
      label {
        font-size: 3rem;
        cursor: pointer;
        color: $white;
        &:hover{
          color:$green;
        }
      }      

    }
  }
}

.home {
  padding: 0;

  .box {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 2rem 9%;
    .second {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    .content {
      width: 50rem;
      span {
        font-size: 4rem;
        color: $black;
      }
      h3 {
        font-size: 6rem;
        color: $green;
        padding-top: .5rem;
        text-transform: uppercase;
      }
      p {
        line-height: 2;
        color: $black;
        font-size: 1.5rem;
        padding: 1rem 0;
      }
    }
  }

}

.swiper-button-next,
.swiper-button-prev {
  &::after{
    font-size: 3rem;
  color: $black;
  }
  
}

.category{
  .box-container{
    display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
  .box {
    text-align: center;
    padding: 1rem;
    img {
      height: 20rem;
      width: 20rem;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 2rem;
      color: $green;
    }
    p {
      font-size: 1.5rem;
      color:$black;
      padding: 1rem 0;
      line-height: 2;
    }
    }
  }

}


// the start of about section
.about {
  background: $lightbg;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    img {
      width: 100%;
      -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
              box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
    }
  }
  .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;

    h3 {
      font-size: 3rem;
      color: $green;
    }
    p {
      font-size: 1.5rem;
      color: $black;
      padding: 1rem 0;
      line-height: 2;
    }
  }

}

// start of shop section

.shop .slide {
  border: 0.2rem solid $black;
  &:hover {
    .image .icons {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .image {
    position: relative;
    overflow: hidden;
    height: 30rem;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }
    .icons {
      width: 100%;
      position: absolute;
      bottom: 2rem;
      left: 0;
      text-align: center;
      z-index: 10;
      -webkit-transform: translateY(7rem);
              transform: translateY(7rem);
              a {
                height: 4.5rem;
                width: 4.5rem;
                line-height: 4.5rem;
                font-size: 1.7rem;
                background: $black;
                color: $white;
                margin: 0 .2rem;
                &:hover{
                  background: $green;
                }
              }
              
    }
  
  }
  .content {
    padding: 1rem 0;
    text-align: center;
    h3 {
      font-size: 2rem;
      color: $black;
    }
    .price {
      padding: 1rem 0;
      padding-top: .5rem;
      font-size: 2rem;
      color: $green;
    }
    .stars i {
      font-size: 1.7rem;
      color: $black;
    }
  }
  
}

// the start of the backage section

.packages {
  background: $lightbg;
  .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    .box {
      text-align: center;
      background: $white;
      border: 0.2rem solid $black;
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      border-radius: .5rem;
      &:hover{
          background: $black;
          .content > * {
            color: $white;
          }
          .btn {
            border-color: $white;
            &:hover{
              background: $white;
              color: $black;
            }
          }
          
          
      }
      .image {
        height: 25rem;
        overflow: hidden;
        padding: 2rem;
        padding-bottom: 0;
        border-radius: .5rem;
        img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
             object-fit: cover;
          border-radius: .5rem;
        }
      }
      .content {
        padding: 2rem;
        h3 {
          font-size: 2rem;
          color: $black;
        }
        p {
          font-size: 1.5rem;
          color: $black;
          padding: 1rem 0;
          line-height: 2;
        }
        .price {
          font-size: 2rem;
          color: $green;
        }
        
      }
      
    }
  }
}

// start of the services
.services {
  background: $lightbg;
  .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
    .box {
      text-align: center;
      padding: 2rem;
      border: 0.2rem solid $black;
      border-radius: .5rem;
      background: $white;
      &:hover{
        background:$black;
        img {
          -webkit-filter: invert(1);
                  filter: invert(1);
        }
        p {
          color: $white;
        }
        .btn {
          border-color:$white;
          color: $white;
          &:hover{
            background: $white;
            color: $black;
          }
        }
      }
      img {
        height: 10rem;
        margin-bottom: 1rem;
      }
      h3 {
        font-size: 2rem;
        color: $green;
      }
      p {
        font-size: 1.5rem;
        color: $black;
        padding: 1rem 0;
        line-height: 2;
      }
    }
  }
}

// start of the reviews section

.reviews .slide {
  .text {
  padding: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  background: #eee;
  border-radius: .5rem;
  color: #10221b;
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 3rem;
  &::before{
    content: '';
  position: absolute;
  bottom: -1.5rem;
  left: .7rem;
  height: 3rem;
  width: 3rem;
  background: #eee;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    img {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
    }
    h3 {
      font-size: 2rem;
      color: $black;
    }
    span {
      color: $green;
      font-size: 1.5rem;
    }
    
    
  }
}
}



// the start of the blog

.blogs .slide {
  text-align: center;
  padding: 2rem;
  img {
    height: 25rem;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: .5rem;
  }
  .icons {
    background: #10221b;
    border-radius: .5rem;
    padding: 1rem;
    position: relative;
    top: -2rem;
    display: inline-block;
    a {
      font-size: 1.4rem;
      color: #fff;
      margin: 0 1rem;
      &:hover{
        color: $green;
      }    
      i {
        padding-right: .5rem;
        color: #219150;
      }
    }
  }

  h3 {
    font-size: 2rem;
    color: $black;
  }
  p {
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
    color: $black;
  }
  
}




// the start of the newsletter
.newsletter {
  background: $lightbg;
  .content {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    p {
      font-size: 1.5rem;
      line-height: 2;
      color: #10221b;
    }
    form {
      margin-top: 2rem;
      background: #fff;
      border-radius: 5rem;
      border: 0.2rem solid #10221b;
      padding: .7rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      .email {
        width: 100%;
        background: none;
        text-transform: none;
        font-size: 1.6rem;
        color: $black;
        padding: 0 1.3rem;
      }
      .btn {
        margin-top: 0;
        border-radius: 5rem;
        background: $black;
        color: $white;
        &:hover{
          background: none;
          color: $black;
        }
      }
    }
    
  }
}




// the start of the clients section

.clients .silde {
  text-align: center;
  img {
    height: 12rem;
  }
  
}






